nav {
  display: flex;
  justify-content: space-between;
  background-color: #4056A1;
  color: #FFFFFF;
  font-size: 80%;
  padding: 1em 1.5em 1em 1.5em;
  width: 100%;
}

#logo {
  font-family: 'Bungee', sans-serif;
  font-size: 120%;
} 

.navRight {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  color: #FFFFFF;
  background-color: transparent;
  border-style: none;
  outline: none;
}

.sticky {
  position: fixed;
  top: 100;
  width: 100%;
}

