#tweet-container article {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  border: 3px solid #535149;
}

#tweet-container header {
  width: 98%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 10px 15px 0 15px;

}

#tweetSpan {
  justify-self: center;
  line-height: 90%;
  padding: 15px 10px 15px 10px;
}

#tweet-container footer {
  padding: 5px 15px 0px 15px;
  width: 98%;
  display: flex;
  justify-content: space-between;
  border-top: 3px solid #535149;
  }

  #avatar {
    display: flex;
    align-items: center;
  }
  #avatar span {
    padding-left: 10px;
  }

  .username {
    opacity: 0;
  }
  
  
  .tweetArticle:hover .handle {
    color: powderblue;
    opacity: 1;    
  }

  .tweetArticle:hover {
    box-shadow: powderblue 3px 4px 0 0;
  }

  


  